/*body {background-color:#161616;}*/
html, body {height: 100%;}
.wrapper {min-height:100%;height: auto !important;height:100%;margin: 0 auto -36px;}
.footer, .push {height:36px;}
.light-green {color:#75d63b;}
.dark-green {color:#58a128;}
.turquoise {color:#238149;}
.blue { color:#23827a;}
.border {border:1px solid #ffffff;}
.alignleft {text-align:left;}
.alignright {text-align:right;}
body {color:#ffffff;font-family:sans-serif;}
body,p {font-size:1em; line-height:1.4em;}
a {color:#ffffff;}
a:hover {text-decoration:underline;color:inherit;}
blockquote {margin:0px;padding:0px;border:none;display:none;}
h1 {font-size:36px;}
iframe {border:0px;width:705px;height:480px;display:block;margin:20px 0px 0px auto;position:relative;right:20px;}
div.container.content {margin-bottom:10px;}


/* HEADER */
header {background-color:#161616;height:160px;overflow:hidden;margin-bottom:20px;}
header div.span7 {position:relative;}
header div.logo p a span {display:none;}
header div.logo p a {display:block;background-image:url('../img/logo.png');width:430px;height:160px;position:relative;left:25px;}

/* contact info */
div.contact-info {position:absolute;top:15px;left:399px;width:237px;height:60px;}
div.contact-info p {margin:0px; padding:0px;font-size:12px;}
p.social a {display:block;background-position:center center;background-repeat:no-repeat;height:35px;}
p.social a.facebook {background-image:url('../img/fb-big.png');width:36px;position:absolute;top:0px;left:160px;}
p.social a.twitter {background-image:url('../img/tw-big.png');width:34px;position:absolute;top:0px;left:203px;}

/* header menu */
header ul {position:absolute;top:109px;left:70px;}
header ul li {list-style-type:none;float:left;height:11px;}
header ul li a {display:block;padding:10px 15px 0px 15px; height:41px;background-repeat:no-repeat;background-position:center center;}
header ul li.home a {background-image:url('../img/home.png');width:44px;}
header ul li.about a {background-image:url('../img/about.png');width:53px;}
header ul li.services a {background-image:url('../img/services.png');width:77px;}
header ul li.projects a {background-image:url('../img/projects.png');width:80px;}
header ul li.news a {background-image:url('../img/news.png');width:44px;}
header ul li.contact a {background-image:url('../img/contact.png');width:72px;}
header ul li.home a:hover {background-color:#238179;}
header ul li.about a:hover,header ul li.contact a:hover {background-color:#238149;}
header ul li.services a:hover,header ul li.news a:hover {background-color:#58a128;}
header ul li.projects a:hover {background-color:#75d63b;}

/* BOXES */
div.smallbox {background-color:#161616;margin-top:30px;min-height:200px;}
div.smallbox h3 {padding:16px 0px 20px 20px;font-size:14px;text-transform:uppercase;}
div.smallbox a:hover {text-decoration:none;}
div.smallbox h3 a:hover {color:#75d63b;}
div.smallbox p a,div.smallbox blockquote p {display:block;padding-left:120px; padding-right:34px; padding-bottom:0px; min-height:100px; margin-bottom:0px;background-repeat:no-repeat;background-position:20px 0px;}
div.smallbox blockquote cite {display:none;}
div.about.smallbox p a {background-image:url('../img/about-gfc.png');}
div.services.smallbox p a {background-image:url('../img/services-gfc.png');}
div.smallbox blockquote p {background-image:url('../img/quotes-gfc.png');}
div.testimonials.smallbox {padding-bottom:10px;}
div.about.smallbox {padding-bottom:10px;}
div.services.smallbox {padding-bottom:10px;}

div.bigbox {background-repeat:none;background-position:center center;}
div.bigbox.circle {background-image:url('../img/about-graphic-large.png');width:352px;height:520px;}

/* GENERAL CONTENT */
div.content ul {margin-left: 45px;}
div.content ul li {list-style-type: disc;list-style-image: url("../img/list.png");list-style-position: outside;margin-left: 20px;color: #ffffff;padding-bottom: 10px;}
div.content h1 {margin:20px 0px 30px 20px;}
div.content p {margin:0px 0px 25px 20px;}
div.home {background-color:#161616;}
div.about div.span8 {background-color:#161616;padding-right:10px;}
div.about h1 {padding:0px 0px 0px 0px;}
div.aboutwrap {min-height:740px;margin-top:0px;}

/* SERVICES */
div.services.span8 {background-color:#161616;padding-right:10px;}
div.serviceswrap {min-height:740px;margin-top:0px;}
#services-graphic-large {width:352px; height:520px; background-image:url('../img/services-graphic-large.png'); background-repeat:no-repeat;}
#services-list {width:235px; float:left;}
#services-list ul {margin:0px; padding:0px;}
#services-list ul li {list-style:none; height:30px;}
#services-list ul li h2 {font-size:17px; line-height:30px;}
#services-list ul li img {float:left; padding-right:20px;}
#switcher-panel {width:460px; float:right; color:#fff; font-size:14px; line-height:20px;}
#switcher-panel p {color:#fff; font-size:14px; line-height:20px;}
#switcher-panel h2 {color:#58a128;}
#switcher-panel h4 {color:#58a128;}
.switcher-content {display: none;}

/* FOOTER */
footer {font-size:12px;background-image:url('../img/footer.trans.png');}
footer p {margin:0px; padding:0px;line-height:36px;}
footer p.alignleft {padding-left:20px;}
footer p.alignright {padding-right:20px;}

/* Large desktop */
@media only screen and (max-width: 1200px) {
	iframe {width:620px;height:423px;}
	div.contact-info {left:298px;}
	header ul {top:128px;left:60px;}
	header ul li a {padding:2px 7px 0px 7px;height:31px;}
	div.smallbox p a,div.smallbox blockquote p {padding-left:20px; padding-right:20px; min-height:0px;}
	div.smallbox blockquote p {background-image:none;}
	div.about.smallbox p a {background-image:none;}
	div.services.smallbox p a {background-image:none;}

	div.bigbox {display:none;}
	div.aboutright div.smallbox {margin-top:0px;}
	div.aboutright div.testimonials blockquote p {padding-left:0px; padding-right:20px;}
	div.aboutright div.smallbox {margin-top:0px; min-height:0px;padding-bottom:20px;}
	div.aboutwrap {min-height:0px;margin-bottom:30px;}
}

/* Portrait tablet to landscape and desktop */
@media only screen and (max-width: 979px) {
	header div.logo p a {background-image:url('../img/logo.smaller.png');width:270px;height:62px;left:0px;top:20px;}
	iframe {width:470px;height:320px;}
	div.contact-info {left:168px;top:20px;}
	header ul {top:14px;left:0px;height:200px;width:220px;}
	header ul li {float:none;margin:8px;}
	header ul li a {padding:2px;height:15px;margin:2px;}
	div.smallbox {min-height:240px;}
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	header div.logo p a {left:30px;top:20px;}
	iframe {width:400px;height:273px;margin:0px 0px 10px 40px;}
	div.contact-info {position:relative;left:30px;}
	header {height:auto;}
	header ul {position:relative;height:140px;left:0px;}
	header ul li {margin-left:0px;}
	footer p.alignright {text-align:left;padding-left:20px;}
	div.smallbox {min-height:70px;}
	div.smallbox h3 {padding-bottom:10px;}
	div.home p {padding-right:20px;}
	p.bottom {padding-bottom:20px;}
	div.about h1 {padding-top:20px;}
}

/* Landscape phones and down */
@media only screen and (max-width: 480px) {
	header div.logo p a {background-image:url('../img/logosmall.png');width:215px;height:80px;}
	iframe {width:290px;height:198px;}
	div.smallbox h3 {padding-bottom:10px;}
	div.smallbox {height:auto;min-height:0px;}
	div.smallbox {margin-bottom:10px;}
	.smallhide {display:none;}
}

/* super small just in case */
@media only screen and (max-width: 300px) {
	iframe {width:180px;height:123px;}
	div.contact-info {height:118px;}
	p.social a.facebook {position:static;margin-top:4px;}
	p.social a.twitter {position:static;margin-top:4px; margin-left:1px;}
	footer p.alignright {text-align:left;padding-right:20px;}
}